body {
  background-color: rgb(255, 255, 255);
}

.circle {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  margin-left: 250px;
}

.circle2 {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  margin-right: 250px;
}

#page-title {
  text-align: center;
  font-family: "Poiret One";
  font-size: 20px;
}

.block-1 {
  background-image: url(nnn.png);
  background-size: cover;
  font-size: 22px;
  width: 600px;
  height: 200px;
  padding: 20px 40px;
  margin-top: 50px;
  margin-left: 50px;
}

.block-2 {
  background-image: url(Sylvia_Plath.jpg);
  background-size: cover;
  font-size: 22px;
  width: 149px;
  height: 194px;
  padding: 20px 40px;
  border: black solid 3px;
  margin-left: 1065px;
  margin-top: -275px;
}

.block-3 {
  background-image: url(Heorhii.png);
  background-size: cover;
  font-size: 22px;
  width: 200px;
  height: 200px;
  padding: 20px 40px;
  border: white solid 7px;
  margin-left: 750px;
  margin-right: 50px;
  margin-top: -247px;
}

.block-4 {
  width: 200px;
  height: 200px;
  padding: 20px 40px;
  border: black solid 7px;
  margin-left: 800px;
  margin-right: 50px;
  margin-top: -247px;
}
p {
  color: #11bcffe7;
  font-style: italic;
}

.abzac-1 {
  color: black;
  font-size: 30px;
}
.abzac {
  font-size: 16px;
  font-family: "Poiret One";
  font-style: normal;
  margin-top: -50px;
  margin-left: 50px;
  margin-right: 50px;
}

.abzac-3 {
  font-size: 16px;
  font-family: Helvetica;
  font-style: normal;
  margin-top: -50px;
  margin-left: 50px;
}
.border {
  border-style: solid;
  border-radius: 5px;
  width: 300px;
  height: 200px;
}

.abzac-2 {
  color: black;
  font-size: 16px;
  font-family: "Courier New";
  font-style: normal;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: -90px;
}

h1 {
  display: inline-block;
  font-family: "Poiret One";
  background: black; /* Цвет фона под заголовком */
  color: white; /* Цвет текста */
  padding: 4px; /* Поля вокруг текста */
  margin-left: 338px;
  margin-right: 50px;
  margin-top: -200px;
}

h2.abzac {
  text-align: center;
  font-size: 1.2em; /* = 1,5x16px */
}

.georg {
  color: black;
  font-size: 16px;
  font-family: "Courier New";
  font-style: normal;
  margin-left: 757px;
  margin-top: -34px;
}

.sylvia {
  color: black;
  font-size: 16px;
  font-family: "Courier New";
  font-style: normal;
  margin-left: 1065px;
  margin-top: -34px;
}
